.App {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.AppAE{
  text-align: center;
  background: url(/Flags/ae.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  width: 100%;
  height: 100%;
  color:gray;
  overflow: hidden;
  }

.AppNO{
  text-align: center;
  background: url(/Flags/no.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  }

.AppJP {
  text-align: center;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  background-image: radial-gradient(red , white 40%, white );
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.AppSE {
  text-align: center;
  background: url(/Flags/se.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.AppPT {
  text-align: center;
  background: url(/Flags/pt.svg);
  background-color:red;
  background-repeat: no-repeat;
  background-attachment: fixed;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  width: 100%;
  height: 100%;
  color: greens;
  overflow: hidden;
}

.AppDE {
  text-align: center;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  background-image: linear-gradient(black 20%, red , yellow );
  width: 100%;
  color:beige;
  height: 100%;
  overflow: hidden;
}

.AppFR {
  text-align: center;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  background-image: linear-gradient(to right, blue, white , red );
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.AppKR {
  text-align: center;
  background: url(/Flags/kr.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.AppES {
  text-align: center;
  background: url(/Flags/es.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

.AppHI {
  text-align: center;
  background-image:  linear-gradient(orange 10% , white, green);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.AppRU {
  text-align: center;
 /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
  background-image: linear-gradient(white 10% , blue, red);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.AppIT {
  text-align: center;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
   background-image: linear-gradient(to right,green , white , red );
   width: 100%;
   height: 100%;
   overflow: hidden;
}

a{
  text-decoration: none; 
}

html, body, #App, #root {
  height: 100%;
  overflow: hidden;
}

.AppLoading{
  margin: 0;
  min-height: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
